.card-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
    grid-gap: 25px;

}

.card {
    background-color:  var(--main  );
    text-align: center;
    font-size: 20px;
    padding: 50px 0px;
    border-radius: 25px;
}

.card:hover {
    
    background-color: rgb(255, 255, 255);
    transition: background-color 0.5s ;

}
