.content {
    display: flex;
    justify-content: center;

    min-height: 900px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
    grid-gap: 5px;

    width: 1200px;

}

.item {
    background: var(--header);

    display: flex;

    flex-direction: column;

    padding: 20px;

    border-radius: 25px;

}

.item img {
    border-radius: 15px;
    width: 10pc;
}