.foot {
    padding: 50px 0px;
    display: flex;
}

.foot ul {
    list-style-type: none; 
    text-align: center;
}

.foot ul li {
    padding: 10px 0px;
}

.foot-header {
    font-size: 20px;
}

.foot-contact {
    font-size: 20px;

    align-items: center;
    justify-content:space-evenly;

    display: flex;
}

.foot-info {    
    list-style-type: none;
    display: flex;
    align-items: center;
    text-align: center;
}


.foot-info i {
    color: var(--text);
    font-size: 50px;
    width: 50px;
}

/* #foot {
    position: absolute;
    bottom: 0;
} */