footer
{
    background-color: var(--main);
    height: 250px;

    width: 100%;

    display: flex;
    justify-content: center;

    padding: 40px;
}

#footer_contain
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    font-size: 20px;
}

#footer_title
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-justify: distribute;
}

#contact
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contact nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contact nav a
{
    font-size: 50px;
    text-decoration: none;
    color: var(--text);
    margin: 5px;
}

#instagram
{
    transition-duration: 0.2s;
}

#instagram:hover
{
    color: var(--instagram);
}


#github
{
    transition-duration: 0.2s;
}

#github:hover
{
    color: var(--github);
}