

.nav-main {
    display: flex;
}

.nav-main a {
    text-decoration: none;
    color: var(--text  );
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

}

.nav-logo {
    font-size: 25px;
    align-items: center;
    display: flex;
}

.nav-brand {
    width: 60px;
}

.nav-menu {
    font-size: 20px;
    list-style-type: none;
    
    display: flex;
    align-items: flex-end;

    padding: 0% 5% 0% 0%;
}

.nav-menu li {
    border: 10%;
    padding: 0% 0% 0% 3%;
}